@{
    ViewData["Title"] = "Home Page";
}


<link href="~/css/stylefile1.css" rel="stylesheet" />
<div class="text-center">
	<h1 class="display-4">Holidays</h1>
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	<div class="container">

		<div class="row1">

			<div class="col-41 col-12-medium">

				<!-- Box -->
				<section class="box feature">
					<a href="#"><img src="https://content.tui.co.uk/adamtui/2023_8/11_9/8731a3c8-4b27-4fc8-9dfb-b05b00a3b5c2/ACC_040057_TUR_01WebOriginalCompressed.jpg?i10c=img.resize(width:1080);img.resize(height:608);img.crop(width:1080%2Cheight:608)" alt="" /></a>
					<div class="inner">
							<h2>Bodrum</h2>
							<p>This is also an interesting subtitle</p>
						<p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
					</div>
				</section>

			</div>
			<div class="col-41 col-12-medium">

				<!-- Box -->
				<section class="box feature">
					<a href="#"><img src="https://content.tui.co.uk/adamtui/2019_12/17_11/61d6945a-4392-4994-9d5c-ab2600be5197/LOC_000450_TUR_GUM_09_GUMBET_BEACHWebOriginalCompressed.jpg?i10c=img.resize(width:1080);img.crop(width:1080%2Cheight:608)" alt="" /></a>
					<div class="inner">
							<h2>Corfu</h2>
							<p>This is also an interesting subtitle</p>
						
						<p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
					</div>
				</section>

			</div>
			<div class="col-41 col-12-medium">

				<!-- Box -->
				<section class="box feature">
					<a href="#"><img src="https://content.tui.co.uk/adamtui/2023_8/11_9/aacea1c8-bf73-4207-8f31-b05b00a3c879/ACC_040057_TUR_08WebOriginalCompressed.jpg?i10c=img.resize(width:488);img.crop(width:488%2Cheight:274)" alt="" /></a>
					<div class="inner">
							<h2>Greece</h2>
							<p>Here's another intriguing subtitle</p>
						
						<p>Phasellus quam turpis, feugiat sit amet in, hendrerit in lectus. Praesent sed semper amet bibendum tristique fringilla.</p>
					</div>
				</section>

			</div>
		</div>
	</div>
</div>